LASTFM_API_KEY=your_key_here
LASTFM_API_SECRET=your_secret_here

SPOTIFY_CLIENT_ID=your_id_here
SPOTIFY_CLIENT_SECRET=your_secret_here
SPOTIFY_REDIRECT_URI=http://localhost:3000/callback

NODE_ENV=development
